body {
    background-color: antiquewhite;
}

body h1 {
    text-align: center;
}

table {
    margin: auto;
}

form {
    display: grid;
    width: max-content;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: 200px 1fr;
    grid-gap: 15px;
    border: 1px solid black;
}

form ul li {
    list-style: none;
    margin-bottom: 10px;
}

form ul {
    margin: auto;
}